
@{
    ViewData["Title"] = "Home Page";
}

@model ContyInfo

<!DOCTYPE html>
<html>
<head>
    <title>Información del País</title>
</head>
<body>
    <h1>Información del País</h1>

    <!-- Formulario para ingresar el nombre del país -->
    <form method="get" action="@Url.Action("Search", "Country")">
        <label for="countryName">Nombre del País:</label>
        <input type="text" id="countryName" name="countryName" required>
        <button type="submit">Buscar</button>
    </form>

    <!-- Aquí se mostrará la información del país después de la búsqueda -->
    @if (!string.IsNullOrEmpty(Model))
    {
        <div>
            <h2>Resultado de la Búsqueda:</h2>
            <p>@Model</p>
        </div>
    }
</body>
</html>